<ion-content class="ion-padding" *ngIf="text">

  <a (click)="close()">{{ text.close }}</a><br><br>
  
  <h3>{{ text.add_new_reminder }}</h3><br>
  
  <p>{{ text.reminder_desc }}</p><br>

  <form #form="ngForm" (ngSubmit)="addNew(form.value)">

  <ion-item lines="none">
  <ion-label>{{ text.reminder_date }}</ion-label>
  <ion-input value="{{ reminder_date | date: 'dd-MM-yyyy' }}" id="f" class="ion-text-end" [disabled]="hasClick"></ion-input>

  <ion-popover trigger="f" size="auto">
  <ng-template>
  <ion-datetime presentation="date" [(ngModel)]="reminder_date"  locale="en" name="reminder_date" showDefaultButtons="true" required></ion-datetime>
  </ng-template>
  </ion-popover>
  </ion-item><br>

  <ion-input label="{{ text.reminder_title }}" name="title" [(ngModel)]="data.title" label-placement="floating" fill="outline" mode="md" [disabled]="hasClick" required></ion-input><br>


  <ion-select label="{{ text.rtype }}" placeholder="Select" [(ngModel)]="data.type" name="type" required [disabled]="hasClick">
  <ion-select-option [value]="1">{{ text.pay }}</ion-select-option>
  <ion-select-option [value]="2">{{ text.paid }}</ion-select-option>
  </ion-select>
  <br>
  <ion-input type="tel" label="{{ text.amount }}" name="amount" [(ngModel)]="data.amount" label-placement="floating" fill="outline" mode="md" [disabled]="hasClick" required></ion-input><br>

  
  <ion-button mode="ios" expand="block"  type="submit" *ngIf="!hasClick" [disabled]="!form.valid">{{ text.save }}</ion-button>
  <ion-button mode="ios" expand="block"  type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>
  </form>
  
  </ion-content>